<?xml vesrion="1.0"?>
<robot name="outer_shell">
 <material name="blue">
    <color rgba="0 0 0.8 1"/>
  </material>
  <material name="black">
    <color rgba="0 0 0 1"/>
  </material>
  <material name="white">
    <color rgba="1 1 1 1"/>
  </material>
  <material name="red">
    <color rgba="0.8 0 0 1"/>
  </material>  
	<link name="base_link">
		<visual>
			<geometry>
				<sphere radius="0.6"/>
			</geometry>
 			<material name="blue"/>
		</visual>
		<collision>
			<geometry>
				<sphere radius="0.6"/>
			</geometry>		
		</collision>
		<inertial>
			<mass value = "1"/>
			<inertia
				ixx = "0.6667"
				ixy = "0"
				ixz = "0"
				iyy = "0.6667"
				iyz = "0"
				izz = "0.6667"
			/>	
		</inertial>
	</link>	
</robot>
