<robot name="arena">
<link name="field_1">
<collision>
<origin xyz="0 0 0" rpy="0 -0 0" />
<geometry>
<mesh filename="goalsally.stl" />
</geometry>
<material name="goalsally_material">
<color rgba="0 0 1 1.0"/>
</material>
</collision>
<collision>
<origin xyz="0 0 0" rpy="0 -0 0" />
<geometry>
<mesh filename="goalsopponent.stl"/>
</geometry>
<material name="goalsopponent_material">
<color rgba="1 0 0 1.0"/>
</material>
</collision>
<collision>
<origin xyz="0 0 0" rpy="0 -0 0" />
<geometry>
<mesh filename="goalsallyback.stl"/>
</geometry>
<material name="goalsallyback_material">
<color rgba="0 0 1 1.0"/>
</material>
</collision>
<collision>
<origin xyz="0 0 0" rpy="0 -0 0" />
<geometry>
<mesh filename="goalsopponentback.stl"/>
</geometry>
<material name="goalsopponentback_material">
<color rgba="1 0 0 1.0"/>
</material>
</collision>
<collision>
<origin xyz="0 0 0" rpy="0 -0 0" />
<geometry>
<mesh filename="field.stl" scale="2 3 3"/>
</geometry>
<material name="field_material">
<color rgba="0.1 1 0.1 1.0"/>
</material>
</collision>
<collision>
<origin xyz="-3.06664e-16 -6.37325e-14 0" rpy="0 -0 0" />
<geometry>
<mesh filename="lines.stl" scale="2 3 3"/>
</geometry>
<material name="lines_material">
<color rgba="0.917647 0.917647 0.917647 1.0"/>
</material>
</collision>

<collision>
<origin xyz="0 0 0" rpy="0 0 0"/>
<geometry>
<box size="0.05 22 1"/>
</geometry>
<material name="Cyan1">
<color rgba="0 0 0 1.0"/>
</material>
</collision>

<inertial>
<origin xyz="0 0 0" rpy="0 0 0"/>
<mass value="0" />
<inertia ixx="0" ixy="0"  ixz="0" iyy="0" iyz="0" izz="0" />
</inertial>
<visual><geometry><box size="0 0 0" /></geometry></visual>
</link>

<link name="field_1_1">
<inertial>
<origin xyz="0 0 0" rpy="0 0 0" />
<mass value="0" />
<inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
</inertial>
<visual>
<origin xyz="0 0 0" rpy="0 -0 0" />
<geometry>
<mesh filename="goalsally.stl"/>
</geometry>
<material name="field_1_1_visual_material">
<color rgba="0 0 1 1.0"/>
</material>
</visual>
</link>
<joint name="field_1_1_fixing" type="fixed">
<origin xyz="-3 0 0" rpy="0 -0 0" />
<parent link="field_1" />
<child link="field_1_1" />
<axis xyz="0 0 1"/>
<limit effort="1" velocity="20" />
<joint_properties friction="0.0"/>
</joint>

<link name="field_1_2">
<inertial>
<origin xyz="0 0 0" rpy="0 0 0" />
<mass value="0" />
<inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
</inertial>
<visual>
<origin xyz="0 0 0" rpy="0 0 0" />
<geometry>
<mesh filename="goalsally.stl"/>
</geometry>
<material name="field_1_2_visual_material">
<color rgba="1 1 0 1.0"/>
</material>
</visual>
</link>
<joint name="field_1_2_fixing" type="fixed">
<origin xyz="0 3 0" rpy="0 0 -1.57" />
<parent link="field_1" />
<child link="field_1_2" />
<axis xyz="0 0 1"/>
<limit effort="1" velocity="20" />
<joint_properties friction="0.0"/>
</joint>




<link name="field_1_3">
<inertial>
<origin xyz="0 0 0" rpy="0 0 0" />
<mass value="0" />
<inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
</inertial>
<visual>
<origin xyz="0 0 0" rpy="0 -0 0" />
<geometry>
<mesh filename="goalsopponent.stl"/>
</geometry>
<material name="field_1_3_visual_material">
<color rgba="1 0 0 1.0"/>
</material>
</visual>
</link>
<joint name="field_1_3_fixing" type="fixed">
<origin xyz="3 0 0" rpy="0 -0 0" />
<parent link="field_1" />
<child link="field_1_3" />
<axis xyz="0 0 1"/>
<limit effort="1" velocity="20" />
<joint_properties friction="0.0"/>
</joint>

<link name="field_1_4">
<inertial>
<origin xyz="0 0 0" rpy="0 0 0" />
<mass value="0" />
<inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
</inertial>
<visual>
<origin xyz="0 0 0" rpy="0 -0 0" />
<geometry>
<mesh filename="goalsopponent.stl"/>
</geometry>
<material name="field_1_4_visual_material">
<color rgba="0.6 0 0.4 1.0"/>
</material>
</visual>
</link>
<joint name="field_1_4_fixing" type="fixed">
<origin xyz="0 -3 0" rpy="0 0 -1.57" />
<parent link="field_1" />
<child link="field_1_4" />
<axis xyz="0 0 1"/>
<limit effort="1" velocity="20" />
<joint_properties friction="0.0"/>
</joint>



<link name="field_1_5">
<inertial>
<origin xyz="0 0 0" rpy="0 0 0" />
<mass value="0" />
<inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
</inertial>
<visual>
<origin xyz="0 0 0" rpy="0 0 0" />
<geometry>
<mesh filename="goalsallyback.stl"/>
</geometry>
<material name="field_1_5_visual_material">
<color rgba="0 0 1 1.0"/>
</material>
</visual>
</link>
<joint name="field_1_5_fixing" type="fixed">
<origin xyz="-3 0 0" rpy="0 -0 0" />
<parent link="field_1" />
<child link="field_1_5" />
<axis xyz="0 0 1"/>
<limit effort="1" velocity="20" />
<joint_properties friction="0.0"/>
</joint>

<link name="field_1_6">
<inertial>
<origin xyz="0 0 0" rpy="0 0 0" />
<mass value="0" />
<inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
</inertial>
<visual>
<origin xyz="0 0 0" rpy="0 0 0" />
<geometry>
<mesh filename="goalsallyback.stl"/>
</geometry>
<material name="field_1_6_visual_material">
<color rgba="1 1 0 1.0"/>
</material>
</visual>
</link>
<joint name="field_1_6_fixing" type="fixed">
<origin xyz="0 3 0" rpy="0 0 -1.57" />
<parent link="field_1" />
<child link="field_1_6" />
<axis xyz="0 0 1"/>
<limit effort="1" velocity="20" />
<joint_properties friction="0.0"/>
</joint>

<link name="field_1_7">
<inertial>
<origin xyz="0 0 0" rpy="0 0 0" />
<mass value="0" />
<inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
</inertial>
<visual>
<origin xyz="0 0 0" rpy="0 -0 0" />
<geometry>
<mesh filename="goalsopponentback.stl"/>
</geometry>
<material name="field_1_7_visual_material">
<color rgba="1 0 0 1.0"/>
</material>
</visual>
</link>
<joint name="field_1_7_fixing" type="fixed">
<origin xyz="3 0 0" rpy="0 0 0" />
<parent link="field_1" />
<child link="field_1_7" />
<axis xyz="0 0 1"/>
<limit effort="1" velocity="20" />
<joint_properties friction="0.0"/>
</joint>

<link name="field_1_8">
<inertial>
<origin xyz="0 0 0" rpy="0 0 0" />
<mass value="0" />
<inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
</inertial>
<visual>
<origin xyz="0 0 0" rpy="0 -0 0" />
<geometry>
<mesh filename="goalsopponentback.stl"/>
</geometry>
<material name="field_1_8_visual_material">
<color rgba="0.6 0 0.4 1.0"/>
</material>
</visual>
</link>
<joint name="field_1_8_fixing" type="fixed">
<origin xyz="0 -3 0" rpy="0 0 -1.57" />
<parent link="field_1" />
<child link="field_1_8" />
<axis xyz="0 0 1"/>
<limit effort="1" velocity="20" />
<joint_properties friction="0.0"/>
</joint>

<link name="field_1_10">
<inertial>
<origin xyz="0 0 0" rpy="0 0 0" />
<mass value="0" />
<inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
</inertial>
<visual>
<origin xyz="0 0 0" rpy="0 -0 0" />
<geometry>
<mesh filename="field.stl" scale="2.2 3 3"/>
</geometry>
<material name="field_1_10_visual_material">
<color rgba="0 0.3 0 1"/>
</material>
</visual>
</link>
<joint name="field_1_10_fixing" type="fixed">
<origin xyz="0 0 0" rpy="0 -0 0" />
<parent link="field_1" />
<child link="field_1_10" />
<axis xyz="0 0 1"/>
<limit effort="1" velocity="20" />
<joint_properties friction="0.0"/>
</joint>

<link name="field_1_9">
<inertial>
<origin xyz="0 0 0" rpy="0 0 0" />
<mass value="0" />
<inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
</inertial>
<visual>
<origin xyz="-3.06664e-16 -6.37325e-14 0" rpy="0 -0 0" />
<geometry>
<mesh filename="lines.stl" scale="2 3 3"/>
</geometry>
<material name="field_1_9_visual_material">
<color rgba="0.917647 0.917647 0.917647 1.0"/>
</material>
</visual>
</link>
<joint name="field_1_9_fixing" type="fixed">
<origin xyz="0 0 0" rpy="0 -0 0" />
<parent link="field_1" />
<child link="field_1_9" />
<axis xyz="0 0 1"/>
<limit effort="1" velocity="20" />
<joint_properties friction="0.0"/>
</joint>

<link name="field_1_11">
<inertial>
<origin xyz="0 0 0" rpy="0 0 0" />
<mass value="0" />
<inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
</inertial>
<visual>
<origin xyz="-3.06664e-16 -6.37325e-14 0" rpy="0 0 1.57" />
<geometry>
<mesh filename="lines.stl" scale="2 3 3"/>
</geometry>
<material name="field_1_11_visual_material">
<color rgba="0.917647 0.917647 0.917647 1.0"/>
</material>
</visual>
</link>
<joint name="field_1_11_fixing" type="fixed">
<origin xyz="0 0 0" rpy="0 -0 0" />
<parent link="field_1" />
<child link="field_1_11" />
<axis xyz="0 0 1"/>
<limit effort="1" velocity="20" />
<joint_properties friction="0.0"/>
</joint>

<link name="field_1_20">
<inertial>
<origin xyz="0 0 0" rpy="0 0 0" />
<mass value="0" />
<inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
</inertial>
<visual>
<origin xyz="0 11 0.5" rpy="0 0 1.57" />
<geometry>
<box size="0.05 22.8 1"/>
</geometry>
<material name="field_1_20_visual_material">
<color rgba="0.4 0.2 0 1.0"/>
</material>
</visual>
</link>
<joint name="field_1_20_fixing" type="fixed">
<origin xyz="0 0 0" rpy="0 -0 0" />
<parent link="field_1" />
<child link="field_1_20" />
<axis xyz="0 0 1"/>
<limit effort="1" velocity="20" />
<joint_properties friction="0.0"/>
</joint>

<link name="field_1_21">
<inertial>
<origin xyz="0 0 0" rpy="0 0 0" />
<mass value="0" />
<inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
</inertial>
<visual>
<origin xyz="0 -11 0.5" rpy="0 0 1.57" />
<geometry>
<box size="0.05 22.8 1"/>
</geometry>
<material name="field_1_21_visual_material">
<color rgba="0.4 0.2 0 1.0"/>
</material>
</visual>
</link>
<joint name="field_1_21_fixing" type="fixed">
<origin xyz="0 0 0" rpy="0 -0 0" />
<parent link="field_1" />
<child link="field_1_21" />
<axis xyz="0 0 1"/>
<limit effort="1" velocity="20" />
<joint_properties friction="0.0"/>
</joint>

<link name="field_1_22">
<inertial>
<origin xyz="0 0 0" rpy="0 0 0" />
<mass value="0" />
<inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
</inertial>
<visual>
<origin xyz="11.44 0 0.5" rpy="0 0 0" />
<geometry>
<box size="0.05 22 1"/>
</geometry>
<material name="field_1_22_visual_material">
<color rgba="0.4 0.2 0 1.0"/>
</material>
</visual>
</link>
<joint name="field_1_22_fixing" type="fixed">
<origin xyz="0 0 0" rpy="0 0 0" />
<parent link="field_1" />
<child link="field_1_22" />
<axis xyz="0 0 1"/>
<limit effort="1" velocity="20" />
<joint_properties friction="0.0"/>
</joint>

<link name="field_1_23">
<inertial>
<origin xyz="0 0 0" rpy="0 0 0" />
<mass value="0" />
<inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
</inertial>
<visual>
<origin xyz="-11.44 0 0.5" rpy="0 0 0" />
<geometry>
<box size="0.05 22 1"/>
</geometry>
<material name="field_1_23_visual_material">
<color rgba="0.4 0.2 0 1.0"/>
</material>
</visual>
</link>
<joint name="field_1_23_fixing" type="fixed">
<origin xyz="0 0 0" rpy="0 0 0" />
<parent link="field_1" />
<child link="field_1_23" />
<axis xyz="0 0 1"/>
<limit effort="1" velocity="20" />
<joint_properties friction="0.0"/>
</joint>

</robot>